body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to top, #efaf73, #fee8be);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#game-container {
    width: 100%;
    height: 100%;
}
canvas {
    display: block;
}
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
